<div class="splash_banner">
    <%= image_tag "Finsz-logo-white-on-orange-500px.png", :class => "splash_logo"%>
    <h1>Finsz</h1>
    <br>
    <p> The place to find 3rd party <%= link_to "Flipper Zero", "https://flipperzero.one/" %> modules.</p>
</div>

