/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

nav {
    background-color: white ;
    height: 9vh;
    width: 100%;
    position: -webkit-sticky;
    border-bottom: 1px;
    border-color: grey;

    .logo {
        // display: block;
        // float: left;
        padding: 1%;
        width: 10vh;
    }   

    .account_options {
        float: right;
    }

    ul {
        position: fixed;
        display: flex;
    }

    li {
        padding: 1.6em;
        list-style-type: none;
        float: right;
    }

    a {
        color: white;
    }
}

.splash_banner {

    .splash_logo {
        margin: 5% 40%;
        width: 20%;
    }

    h1, p {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    h2 {
        text-align: center;
    }
}

body {
    background-color: #f1975b;
}

h1, h2, h3, p, label, em, i {
    color: white;
}